---
import { Image } from 'astro:assets'
import heroSubject from '../assets/hero-subject.png'
import SocialButton from '../components/hero-section/SocialButton.astro'
import '../styles/heroSectionStyle.css'
import VirtueCard from '../components/hero-section/VirtueCard.astro'
---

<div class="container relative">
	<div class="flex flex-col-reverse md:contents">
		<!-- Social Media Handle -->
		<div
			class="relative my-4 flex flex-row justify-center gap-4 md:absolute md:bottom-10 md:right-0 md:my-0 md:flex-col"
		>
			<SocialButton
				socialLink="https://www.linkedin.com/in/anilrai01/"
				socialLinkLabel="LinkedIn URL"
			>
				<svg
					class="h-full w-full"
					enable-background="new 0 0 100 100"
					height="100"
					viewBox="0 0 100 100"
					width="100"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m80.667 14h-61.352c-2.934 0-5.315 2.325-5.315 5.188v61.617c0 2.867 2.381 5.195 5.315 5.195h61.352c2.936 0 5.333-2.328 5.333-5.195v-61.617c0-2.863-2.397-5.188-5.333-5.188zm-45.313 61.354h-10.684v-34.359h10.684zm-5.342-39.057c-3.423 0-6.19-2.774-6.19-6.194 0-3.415 2.767-6.189 6.19-6.189 3.415 0 6.189 2.774 6.189 6.189 0 3.42-2.774 6.194-6.189 6.194zm45.338 39.057h-10.667v-16.708c0-3.986-.078-9.111-5.551-9.111-5.558 0-6.405 4.341-6.405 8.822v16.998h-10.675v-34.36h10.245v4.692h.146c1.426-2.7 4.91-5.549 10.106-5.549 10.806 0 12.802 7.114 12.802 16.369v18.847z"
						fill="#fff"></path></svg
				>
			</SocialButton>
			<SocialButton socialLink="https://github.com/bitcode001" socialLinkLabel="Github URL - I">
				<svg class="h-full w-full" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
					><path d="m0 0h24v24h-24z" fill="#fff" opacity="0" transform="matrix(-1 0 0 -1 24 24)"
					></path><path
						d="m12 1a10.89 10.89 0 0 0 -11 10.77 10.79 10.79 0 0 0 7.52 10.23c.55.1.75-.23.75-.52s0-.93 0-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0 -1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84 4.15 4.15 0 0 1 1.17 2.89c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95s.2.63.75.52a10.8 10.8 0 0 0 7.5-10.22 10.89 10.89 0 0 0 -11-10.77"
						fill="#fff"></path></svg
				>
			</SocialButton>
			<SocialButton socialLink="https://github.com/anilrai01" socialLinkLabel="Github URL - II">
				<svg class="h-full w-full" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
					><path d="m0 0h24v24h-24z" fill="#fff" opacity="0" transform="matrix(-1 0 0 -1 24 24)"
					></path><path
						d="m12 1a10.89 10.89 0 0 0 -11 10.77 10.79 10.79 0 0 0 7.52 10.23c.55.1.75-.23.75-.52s0-.93 0-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0 -1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84 4.15 4.15 0 0 1 1.17 2.89c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95s.2.63.75.52a10.8 10.8 0 0 0 7.5-10.22 10.89 10.89 0 0 0 -11-10.77"
						fill="#fff"></path></svg
				>
			</SocialButton>
		</div>
		<div class="flex min-h-screen flex-col-reverse md:flex-row">
			<div class="flex h-auto flex-1 flex-col justify-center">
				<div class="flex flex-row items-center justify-center py-4 md:justify-start">
					<svg
						enable-background="new 0 0 128 128"
						viewBox="0 0 128 128"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						class="hand-svg mr-2 inline-block h-8"
						><radialGradient
							id="a"
							cx="-779.8681"
							cy="686.6891"
							gradientTransform="matrix(.7071 -.7071 -.7071 -.7071 1081.0488 -27.887)"
							gradientUnits="userSpaceOnUse"
							r="91.0084"
							><stop offset=".3533" stop-color="#ffca28"></stop><stop
								offset=".8723"
								stop-color="#ffb300"></stop></radialGradient
						><path
							d="m59.53 107.44c-3.95-3.17-40.63-38.84-41.04-39.23-1.62-1.62-2.64-3.3-2.92-4.84-.29-1.6.2-3 1.5-4.3 1.21-1.21 2.69-1.85 4.28-1.85 1.94 0 3.93.92 5.59 2.59l16.63 15.98c.29.28.67.42 1.04.42.39 0 .77-.15 1.06-.44.58-.58.58-1.52.01-2.1l-26.55-27.42c-2.66-2.66-3.91-6.73-.75-9.89 1.21-1.21 2.69-1.85 4.28-1.85 1.94 0 3.93.92 5.59 2.59l27.16 26.48c.29.28.67.43 1.05.43s.77-.15 1.06-.44c.58-.58.59-1.52.01-2.11l-32.62-33.44c-1.51-1.51-2.42-3.32-2.58-5.08-.15-1.79.48-3.45 1.83-4.8 1.21-1.21 2.69-1.85 4.28-1.85 1.94 0 3.93.92 5.59 2.58l33.27 32.44c.29.28.67.43 1.05.43s.77-.15 1.06-.44c.58-.58.59-1.52.01-2.11l-24.16-24.83c-1.52-1.52-2.43-3.32-2.58-5.08-.15-1.79.48-3.45 1.83-4.8 1.21-1.21 2.69-1.85 4.28-1.85 1.94 0 3.93.92 5.59 2.59 8.86 8.7 31.99 31.45 32.77 32.29 2.97 2.05 3.57-1.05 3.72-3.06.17-2.34-2.51-10.51-.95-17.86 2.62-9.77 10.17-8.17 10.34-8.09 4.14 1.94 3.35 4.84 1.88 10.67l-.15 1.15c-1.54 7.62 9.04 30.2 9.82 31.89 4.15 9.08 8.93 27.49-6.9 43.32-17.35 17.35-38.83 8.46-45.38 1.91z"
							fill="url(#a)"></path><path
							d="m81.79 117.18c-10.64 0-19.69-5.09-23.26-8.62-3.21-2.62-23.47-22.18-39.97-38.19-.67-.65-1.06-1.02-1.1-1.07-1.87-1.87-3.03-3.82-3.36-5.66-.38-2.09.27-3.98 1.91-5.63 1.5-1.5 3.34-2.29 5.34-2.29 2.35 0 4.71 1.08 6.65 3.03l16.61 15.96-26.56-27.42c-3.06-3.06-4.6-8.13-.73-11.99 1.5-1.5 3.34-2.29 5.34-2.29 2.35 0 4.71 1.08 6.65 3.03l27.14 26.46-32.61-33.43c-1.74-1.74-2.81-3.87-3-5.99-.19-2.26.59-4.33 2.26-6 1.5-1.5 3.34-2.29 5.34-2.29 2.34 0 4.7 1.07 6.65 3.02l33.26 32.43-24.16-24.83c-1.75-1.75-2.82-3.88-3-6-.19-2.25.59-4.32 2.26-5.99 1.5-1.5 3.34-2.29 5.34-2.29 2.35 0 4.71 1.08 6.65 3.03l7.21 7.07c12.85 12.6 23.59 23.15 24.74 24.33.56.45 1.29.62 1.6.47.2-.1.42-.56.38-1.53-.06-1.7-.3-3.81-.55-6.04-.5-4.48-1.02-9.12-.37-12.18 1.42-5.31 4.21-7.56 6.29-8.53 2.86-1.32 5.63-.86 6.16-.61 5.2 2.44 4.17 6.52 2.75 12.18l-.03.14-.16 1.17c-1.04 5.12 4.3 19.27 9.64 30.8l.08.16c3.57 7.8 10 27.81-7.2 45.01-7.91 7.89-16.47 10.58-24.19 10.58zm-60.44-58.46c-1.18 0-2.3.49-3.22 1.41-.95.95-1.28 1.87-1.08 2.97.22 1.21 1.11 2.65 2.5 4.05.01.01.41.4 1.1 1.06 23.42 22.73 37.56 36.24 39.82 38.06l.12.11c5.52 5.52 26.03 15.32 43.26-1.91 15.87-15.87 9.9-34.4 6.59-41.64l-.07-.15c-3.44-7.42-11.26-25.42-9.87-32.6l.23-1.5c1.54-6.12 1.63-7.4-.98-8.66-.77-.14-6.29-.81-8.4 7.06-.53 2.51-.02 7.1.43 11.15.26 2.29.5 4.46.56 6.27.1 2.85-1.25 3.94-2.07 4.34-1.67.81-3.66.12-4.9-.92l-.13-.12c-.61-.66-15.12-14.89-24.72-24.31l-7.22-7.09c-2.46-2.47-5.63-2.88-7.76-.75-1.04 1.04-1.51 2.26-1.4 3.61.12 1.41.88 2.88 2.15 4.15l24.21 24.83c1.14 1.16 1.14 3.06-.02 4.22-1.11 1.11-3.07 1.13-4.21.03l-33.29-32.45c-2.46-2.46-5.64-2.87-7.76-.74-1.04 1.04-1.51 2.26-1.4 3.61.13 1.41.89 2.89 2.15 4.14l32.63 33.46c1.15 1.16 1.14 3.06-.02 4.22-1.11 1.11-3.07 1.13-4.21.03l-27.17-26.49c-2.46-2.48-5.64-2.88-7.76-.75-2.59 2.59-1.21 5.8.75 7.77l26.57 27.44c1.14 1.16 1.13 3.05-.03 4.2-1.12 1.12-3.06 1.13-4.2.04l-16.63-15.98c-1.4-1.41-3.01-2.17-4.55-2.17z"
							fill="#eda600"></path><path
							d="m84.76 46.54c-5.49 11.21-4.78 26.9 3.46 39.49.93 1.7 2.52.87 1.71-.88-9.95-21.29.48-36.63.48-36.63z"
							fill="#eda600"></path><path
							d="m63.17 4.5c3.02-.79 6.24-.72 9.37.01 3.11.75 6.22 2.33 8.53 4.91 2.26 2.56 3.65 5.67 4.12 8.93.44 3.23.03 6.56-1.5 9.32-.18-3.1-.72-5.95-1.63-8.58-.47-1.31-1.02-2.56-1.69-3.74-.66-1.17-1.44-2.33-2.27-3.28-1.69-1.95-3.98-3.47-6.55-4.65-2.58-1.22-5.39-2.12-8.38-2.92z"
							fill="#b0bec5"></path><path
							d="m64 13.98c1.67-1.06 3.76-1.28 5.73-.93 1.99.35 3.89 1.34 5.39 2.71 1.49 1.39 2.55 3.14 3.21 4.96.32.91.48 1.87.63 2.8.05.96.05 1.92-.1 2.88-.69-.73-1.23-1.46-1.74-2.17-.59-.67-1.05-1.38-1.58-2.03-1.04-1.29-2.05-2.46-3.14-3.5-1.12-1.01-2.3-1.9-3.67-2.67-1.36-.79-2.89-1.45-4.73-2.05z"
							fill="#90a4ae"></path><path
							d="m6.83 77.34c1.41 2.76 2.88 5.32 4.59 7.58 1.7 2.26 3.65 4.18 5.92 5.43 1.1.61 2.41 1.14 3.69 1.54 1.29.41 2.63.69 4.01.88 2.76.34 5.66.28 8.73-.19-2.38 2.07-5.56 3.17-8.8 3.41-3.28.22-6.61-.49-9.59-2.17-3-1.71-5.2-4.43-6.58-7.32-1.38-2.91-2.12-6.04-1.97-9.16z"
							fill="#b0bec5"></path><path
							d="m16.28 76.17c.97 1.68 1.93 3.03 2.98 4.21 1.04 1.18 2.16 2.15 3.38 3.03 1.24.85 2.6 1.6 4.08 2.35.74.38 1.53.68 2.31 1.12.81.35 1.63.72 2.49 1.25-.91.34-1.84.54-2.79.69-.94.04-1.91.09-2.87-.04-1.92-.26-3.84-.93-5.52-2.1-1.65-1.19-3.02-2.84-3.77-4.71-.76-1.86-.98-3.94-.29-5.8z"
							fill="#90a4ae"></path></svg
					>
					<span class="font-normal md:text-xl lg:text-2xl xl:text-2xl">Hey, I am</span>
				</div>

				<svg
					width="310"
					height="84"
					viewBox="0 0 310 84"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="origin-left rotate-180 -scale-90 self-center md:self-start"
				>
					<path
						d="M20.117 83.1815C17.749 83.1815 15.669 82.9895 13.877 82.6055C12.085 82.2215 10.517 81.2935 9.17297 79.8215C7.89297 78.3495 7.25297 76.0775 7.25297 73.0055C7.25297 68.7175 8.53297 62.9575 11.093 55.7255C13.717 48.4935 17.141 41.2295 21.365 33.9335C18.165 34.1255 15.637 34.6055 13.781 35.3735C11.925 36.1415 10.709 37.3255 10.133 38.9255C10.389 38.9255 10.645 39.2455 10.901 39.8855C11.221 40.5255 11.381 41.1975 11.381 41.9015C11.381 43.0535 10.869 43.9815 9.84497 44.6855C8.82097 45.3255 7.54097 45.6455 6.00497 45.6455C4.21297 45.6455 2.77296 45.1655 1.68496 44.2055C0.596965 43.2455 0.0529649 41.8695 0.0529649 40.0775C0.0529649 37.9015 0.884965 35.9175 2.54896 34.1255C4.27697 32.3335 6.64497 30.9255 9.65297 29.9015C12.661 28.8135 15.989 28.2695 19.637 28.2695C20.981 28.2695 22.645 28.3655 24.629 28.5575C29.877 20.2375 35.413 13.4535 41.237 8.20554C47.125 2.89354 52.725 0.237543 58.037 0.237543C61.109 0.237543 63.637 0.685543 65.621 1.58154L50.549 72.2375H36.725L44.117 37.3895C41.749 36.3015 39.573 35.5015 37.589 34.9895C35.605 34.4775 33.493 34.1255 31.253 33.9335C27.605 41.8055 24.597 49.8695 22.229 58.1255C19.925 66.3175 18.773 72.8775 18.773 77.8055C18.773 80.2375 19.221 82.0295 20.117 83.1815ZM50.549 7.05355C47.797 8.52555 44.917 11.2775 41.909 15.3095C38.965 19.2775 36.085 24.1095 33.269 29.8055C37.877 30.7015 41.781 31.8215 44.981 33.1655L50.549 7.05355ZM97.97 72.8135C94.066 72.8135 91.186 71.7895 89.33 69.7415C87.538 67.6295 86.642 65.0375 86.642 61.9655C86.642 60.6215 86.802 59.1175 87.122 57.4535C87.442 55.7255 87.762 54.0615 88.082 52.4615C88.466 50.8615 88.722 49.8375 88.85 49.3895C89.362 47.1495 89.842 44.9415 90.29 42.7655C90.738 40.5895 90.962 38.8295 90.962 37.4855C90.962 34.2215 89.81 32.5895 87.506 32.5895C85.842 32.5895 84.37 33.4215 83.09 35.0855C81.81 36.6855 80.786 38.7975 80.018 41.4215L73.49 72.2375H59.666L69.842 24.2375H83.666L82.61 29.2295C85.81 25.6455 89.554 23.8535 93.842 23.8535C97.106 23.8535 99.698 24.7495 101.618 26.5415C103.538 28.3335 104.498 31.0535 104.498 34.7015C104.498 36.5575 104.274 38.6375 103.826 40.9415C103.378 43.1815 102.738 45.9335 101.906 49.1975C101.394 51.1815 100.914 53.1335 100.466 55.0535C100.082 56.9095 99.89 58.3815 99.89 59.4695C99.89 60.7495 100.178 61.7415 100.754 62.4455C101.33 63.1495 102.322 63.5015 103.73 63.5015C105.65 63.5015 107.186 62.8295 108.338 61.4855C109.49 60.0775 110.642 57.9335 111.794 55.0535H115.826C113.458 62.0935 110.706 66.8295 107.57 69.2615C104.498 71.6295 101.298 72.8135 97.97 72.8135ZM127.815 19.0535C125.703 19.0535 123.911 18.3175 122.439 16.8455C120.967 15.3735 120.231 13.5815 120.231 11.4695C120.231 9.35755 120.967 7.56555 122.439 6.09355C123.911 4.55754 125.703 3.78954 127.815 3.78954C129.927 3.78954 131.719 4.55754 133.191 6.09355C134.727 7.56555 135.495 9.35755 135.495 11.4695C135.495 13.5815 134.727 15.3735 133.191 16.8455C131.719 18.3175 129.927 19.0535 127.815 19.0535ZM121.287 72.8135C118.215 72.8135 115.719 71.8535 113.799 69.9335C111.943 68.0135 111.015 65.1335 111.015 61.2935C111.015 59.6935 111.271 57.6135 111.783 55.0535L118.311 24.2375H132.135L125.223 56.8775C124.967 57.8375 124.839 58.8615 124.839 59.9495C124.839 61.2295 125.127 62.1575 125.703 62.7335C126.343 63.2455 127.367 63.5015 128.775 63.5015C130.631 63.5015 132.359 62.7335 133.959 61.1975C135.559 59.5975 136.711 57.5495 137.415 55.0535H141.447C139.079 61.9655 136.039 66.6695 132.327 69.1655C128.615 71.5975 124.935 72.8135 121.287 72.8135ZM146.688 72.8135C143.616 72.8135 141.12 71.8535 139.2 69.9335C137.344 67.9495 136.416 65.0055 136.416 61.1015C136.416 59.5015 136.672 57.4215 137.184 54.8615L147.456 6.76554L161.664 4.84555L150.624 56.6855C150.368 57.6455 150.24 58.5735 150.24 59.4695C150.24 62.0295 151.552 63.3095 154.176 63.3095C155.328 63.3095 156.352 63.1175 157.248 62.7335C156.992 65.9335 155.84 68.4295 153.792 70.2215C151.808 71.9495 149.44 72.8135 146.688 72.8135ZM219.92 73.8695C214.928 73.8695 212.432 71.7255 212.432 67.4375C212.432 66.0295 212.624 64.4295 213.008 62.6375C213.456 60.7815 214.064 58.4135 214.832 55.5335C215.728 52.5255 216.4 49.9655 216.848 47.8535C217.296 45.7415 217.52 43.8535 217.52 42.1895C217.52 37.8375 215.6 35.6615 211.76 35.6615C210.736 35.6615 209.68 35.7895 208.592 36.0455L200.912 72.2375H187.088L200.144 11.1815L214.352 9.26155L209.648 31.4375H210.416C212.912 31.4375 215.216 30.5735 217.328 28.8455C219.44 27.1175 221.072 24.9735 222.224 22.4135C223.44 19.7895 224.048 17.2295 224.048 14.7335C224.048 11.7895 223.152 9.38955 221.36 7.53355C219.632 5.61354 217.008 4.65354 213.488 4.65354C208.304 4.65354 203.76 5.58154 199.856 7.43755C195.952 9.29355 192.912 11.9815 190.736 15.5015C188.624 19.0215 187.568 23.1815 187.568 27.9815C187.568 30.3495 187.792 32.0135 188.24 32.9735C188.688 33.8695 188.912 34.3815 188.912 34.5095C185.456 34.5095 182.864 33.8055 181.136 32.3975C179.472 30.9255 178.64 28.5255 178.64 25.1975C178.64 21.1015 180.304 17.1335 183.632 13.2935C187.024 9.38955 191.344 6.25355 196.592 3.88555C201.84 1.45354 207.088 0.237543 212.336 0.237543C217.136 0.237543 221.168 0.941544 224.432 2.34954C227.696 3.75755 230.128 5.64555 231.728 8.01355C233.328 10.3175 234.128 12.8455 234.128 15.5975C234.128 18.6055 233.2 21.6135 231.344 24.6215C229.488 27.6295 226.96 30.0935 223.76 32.0135C226.192 32.7175 227.888 33.9015 228.848 35.5655C229.872 37.1655 230.384 39.1815 230.384 41.6135C230.384 43.4695 230.16 45.4535 229.712 47.5655C229.264 49.6135 228.624 52.1735 227.792 55.2455C227.28 57.2295 226.8 59.1815 226.352 61.1015C225.904 63.0215 225.68 64.6215 225.68 65.9015C225.68 67.3735 226 68.6855 226.64 69.8375C227.344 70.9895 228.272 71.7895 229.424 72.2375C225.52 73.3255 222.352 73.8695 219.92 73.8695ZM247.24 72.8135C243.592 72.8135 240.552 71.5655 238.12 69.0695C235.688 66.5735 234.472 62.6695 234.472 57.3575C234.472 52.6215 235.4 47.6615 237.256 42.4775C239.176 37.2295 241.992 32.8135 245.704 29.2295C249.48 25.5815 253.96 23.7575 259.144 23.7575C261.768 23.7575 263.72 24.2055 265 25.1015C266.28 25.9975 266.92 27.1815 266.92 28.6535V29.3255L267.976 24.2375H281.8L274.888 56.8775C274.632 57.8375 274.504 58.8615 274.504 59.9495C274.504 62.7015 275.816 64.0775 278.44 64.0775C280.232 64.0775 281.768 63.2455 283.048 61.5815C284.392 59.9175 285.448 57.7415 286.216 55.0535H290.248C287.88 61.9655 284.936 66.6695 281.416 69.1655C277.96 71.5975 274.472 72.8135 270.952 72.8135C268.264 72.8135 266.088 72.0775 264.424 70.6055C262.824 69.0695 261.864 66.8615 261.544 63.9815C259.688 66.6055 257.608 68.7495 255.304 70.4135C253.064 72.0135 250.376 72.8135 247.24 72.8135ZM253.48 63.5015C255.08 63.5015 256.648 62.7655 258.184 61.2935C259.784 59.7575 260.872 57.6775 261.448 55.0535L266.056 33.3575C266.056 32.5255 265.736 31.7255 265.096 30.9575C264.456 30.1255 263.464 29.7095 262.12 29.7095C259.56 29.7095 257.256 31.2135 255.208 34.2215C253.16 37.1655 251.56 40.7495 250.408 44.9735C249.256 49.1335 248.68 52.8135 248.68 56.0135C248.68 59.2135 249.128 61.2615 250.024 62.1575C250.984 63.0535 252.136 63.5015 253.48 63.5015ZM302.283 19.0535C300.171 19.0535 298.379 18.3175 296.907 16.8455C295.435 15.3735 294.699 13.5815 294.699 11.4695C294.699 9.35755 295.435 7.56555 296.907 6.09355C298.379 4.55754 300.171 3.78954 302.283 3.78954C304.395 3.78954 306.187 4.55754 307.659 6.09355C309.195 7.56555 309.963 9.35755 309.963 11.4695C309.963 13.5815 309.195 15.3735 307.659 16.8455C306.187 18.3175 304.395 19.0535 302.283 19.0535ZM295.755 72.8135C292.683 72.8135 290.187 71.8535 288.267 69.9335C286.411 68.0135 285.483 65.1335 285.483 61.2935C285.483 59.6935 285.739 57.6135 286.251 55.0535L292.779 24.2375H306.603L299.691 56.8775C299.435 57.8375 299.307 58.8615 299.307 59.9495C299.307 61.2295 299.595 62.1575 300.171 62.7335C300.811 63.2455 301.835 63.5015 303.243 63.5015C304.395 63.5015 305.419 63.3095 306.315 62.9255C306.059 66.1255 304.907 68.5895 302.859 70.3175C300.875 71.9815 298.507 72.8135 295.755 72.8135Z"
						fill="#5769F8"></path>
				</svg>

				<p class="py-4 text-center font-normal md:text-left md:text-lg lg:text-xl xl:text-xl">
					Designer | Developer | Programmer
				</p>

				<span class="py-4 text-center text-sm font-normal md:text-left lg:text-sm xl:text-base">
					An aspiring software developer with years of experience working on web, mobile and
					javascript realm.
				</span>

				<a
					href="/anil-cv.pdf"
					download
					class="mt-10 self-center rounded-lg bg-primary px-8 py-2 text-base font-normal text-white md:self-baseline md:text-sm lg:text-base xl:text-lg"
				>
					Resume
				</a>
			</div>
			<!-- Image SVG -->
			<div class="flex flex-1 items-center justify-center">
				<div class="relative self-end md:self-center">
					<div class="hidden lg:contents">
						<!-- Virtue Cards -->
						<VirtueCard
							position="absolute -left-1/3 xl:-left-1/2 top-28"
							color="bg-secondary"
							head="New Blog !"
							desc="Read all my blogs here"
						>
							<svg
								width="23"
								height="19"
								viewBox="0 0 23 19"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1.60994 9.20371H8.35891C8.65723 9.20371 8.94334 9.0852 9.15428 8.87426C9.36523 8.66331 9.48374 8.3772 9.48374 8.07888V1.32991C9.48374 1.03158 9.36523 0.74548 9.15428 0.534533C8.94334 0.323587 8.65723 0.205078 8.35891 0.205078H1.60994C1.31161 0.205078 1.02551 0.323587 0.814562 0.534533C0.603616 0.74548 0.485107 1.03158 0.485107 1.32991V8.07888C0.485107 8.3772 0.603616 8.66331 0.814562 8.87426C1.02551 9.0852 1.31161 9.20371 1.60994 9.20371ZM2.73477 2.45474H7.23408V6.95405H2.73477V2.45474ZM12.8582 4.70439H21.8569C22.1552 4.70439 22.4413 4.58589 22.6522 4.37494C22.8632 4.16399 22.9817 3.87789 22.9817 3.57957C22.9817 3.28124 22.8632 2.99514 22.6522 2.78419C22.4413 2.57324 22.1552 2.45474 21.8569 2.45474H12.8582C12.5599 2.45474 12.2738 2.57324 12.0629 2.78419C11.8519 2.99514 11.7334 3.28124 11.7334 3.57957C11.7334 3.87789 11.8519 4.16399 12.0629 4.37494C12.2738 4.58589 12.5599 4.70439 12.8582 4.70439ZM12.8582 15.9527H1.60994C1.31161 15.9527 1.02551 16.0712 0.814562 16.2821C0.603616 16.4931 0.485107 16.7792 0.485107 17.0775C0.485107 17.3758 0.603616 17.6619 0.814562 17.8729C1.02551 18.0838 1.31161 18.2023 1.60994 18.2023H12.8582C13.1566 18.2023 13.4427 18.0838 13.6536 17.8729C13.8645 17.6619 13.9831 17.3758 13.9831 17.0775C13.9831 16.7792 13.8645 16.4931 13.6536 16.2821C13.4427 16.0712 13.1566 15.9527 12.8582 15.9527ZM21.8569 11.4534H1.60994C1.31161 11.4534 1.02551 11.5719 0.814562 11.7828C0.603616 11.9938 0.485107 12.2799 0.485107 12.5782C0.485107 12.8765 0.603616 13.1626 0.814562 13.3736C1.02551 13.5845 1.31161 13.703 1.60994 13.703H21.8569C22.1552 13.703 22.4413 13.5845 22.6522 13.3736C22.8632 13.1626 22.9817 12.8765 22.9817 12.5782C22.9817 12.2799 22.8632 11.9938 22.6522 11.7828C22.4413 11.5719 22.1552 11.4534 21.8569 11.4534ZM21.8569 6.95405H12.8582C12.5599 6.95405 12.2738 7.07256 12.0629 7.28351C11.8519 7.49445 11.7334 7.78056 11.7334 8.07888C11.7334 8.3772 11.8519 8.66331 12.0629 8.87426C12.2738 9.0852 12.5599 9.20371 12.8582 9.20371H21.8569C22.1552 9.20371 22.4413 9.0852 22.6522 8.87426C22.8632 8.66331 22.9817 8.3772 22.9817 8.07888C22.9817 7.78056 22.8632 7.49445 22.6522 7.28351C22.4413 7.07256 22.1552 6.95405 21.8569 6.95405Z"
									fill="white"></path>
							</svg>
						</VirtueCard>

						<VirtueCard
							position="absolute -right-24 top-0"
							color="bg-accent1"
							head="3+ years"
							desc="Experience"
						>
							<svg
								width="22"
								height="23"
								viewBox="0 0 22 23"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g clip-path="url(#clip0_984_63)">
									<path
										d="M18.5692 17.1709C18.081 17.186 17.6295 17.3373 17.2462 17.5903L14.343 14.6271C14.9126 13.875 15.2722 12.9235 15.3142 11.8868L17.3749 11.6709C17.6702 12.4354 18.3724 12.9648 19.1927 12.9648C20.2729 12.9648 21.1483 12.0476 21.1483 10.916C21.1483 9.7844 20.2729 8.86727 19.1927 8.86727C18.2096 8.86727 17.3972 9.62627 17.2581 10.6149L15.1699 10.7909C14.8759 9.2289 13.8928 7.9584 12.5737 7.32452L12.978 6.1709H13.3192C14.7617 6.1599 15.9259 4.9334 15.9259 3.4209C15.9259 1.90152 14.7512 0.670898 13.3009 0.670898C11.8506 0.670898 10.6759 1.90152 10.6759 3.4209C10.6759 4.44115 11.2061 5.33215 11.9936 5.80652L11.6392 6.98215C11.3413 6.9079 11.0001 6.86665 10.6496 6.86665C9.56024 6.86665 8.56274 7.27365 7.78706 7.95152L3.85743 3.82102C4.04249 3.51302 4.15274 3.13765 4.15274 2.73477C4.15274 1.59627 3.27074 0.672273 2.18399 0.672273C1.09724 0.672273 0.215244 1.59627 0.215244 2.73477C0.215244 3.8664 1.08543 4.78627 2.16299 4.79727C2.53181 4.7959 2.87699 4.68865 3.16968 4.50302L7.09799 8.63352C6.47587 9.44202 6.10049 10.4815 6.10049 11.6145V11.6764V11.8936L5.23424 12.0449C4.82343 11.0549 3.89681 10.3756 2.82056 10.3756C1.37024 10.3756 0.195557 11.6063 0.195557 13.1256C0.195557 14.645 1.37024 15.8756 2.82056 15.8756C4.27087 15.8756 5.44556 14.645 5.44556 13.1256C5.44556 13.0981 5.44556 13.072 5.44424 13.0445L6.27112 12.9111C6.58874 14.0703 7.27912 15.0259 8.19524 15.6501L7.46549 17.2836C7.25418 17.2163 7.01006 17.1764 6.75806 17.1736C6.75018 17.1736 6.74231 17.1736 6.73574 17.1736C5.28543 17.1736 4.11074 18.4043 4.11074 19.9236C4.11074 21.443 5.28543 22.6736 6.73574 22.6736C8.18606 22.6736 9.36074 21.443 9.36074 19.9236C9.36074 19.0436 8.96568 18.2585 8.35143 17.7553L9.09431 16.1699C9.57206 16.3706 10.1272 16.4875 10.7074 16.4875C11.8191 16.4875 12.8349 16.0599 13.6159 15.3545L16.4719 18.275C16.1437 18.7288 15.9469 19.3035 15.9469 19.925C15.9469 21.4444 17.1216 22.675 18.5719 22.675C20.0222 22.675 21.1969 21.4444 21.1969 19.925C21.1969 18.4056 20.0222 17.175 18.5719 17.175L18.5692 17.1709ZM6.75674 21.2959C6.03224 21.2959 5.44424 20.6799 5.44424 19.9209C5.44424 19.1619 6.03224 18.5459 6.75674 18.5459C7.48124 18.5459 8.06924 19.1619 8.06924 19.9209C8.06924 20.6799 7.48124 21.2959 6.75674 21.2959ZM10.6942 15.1084C8.88168 15.1084 7.41299 13.5698 7.41299 11.6709C7.41299 9.77202 8.88168 8.2334 10.6942 8.2334C12.5068 8.2334 13.9755 9.77202 13.9755 11.6709C13.9755 13.5698 12.5068 15.1084 10.6942 15.1084Z"
										fill="white"></path>
								</g>
								<defs>
									<clipPath id="clip0_984_63">
										<rect
											width="21"
											height="22"
											fill="white"
											transform="translate(0.194336 0.670898)"></rect>
									</clipPath>
								</defs>
							</svg>
						</VirtueCard>

						<VirtueCard
							position="absolute -bottom-16 left-0"
							color="bg-accent3"
							head="Have any ideas to explore?"
							desc="Lets have a chat"
						>
							<svg
								width="26"
								height="24"
								viewBox="0 0 26 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0.605713 3.48479C0.605713 2.82175 0.869105 2.18586 1.33795 1.71702C1.80679 1.24818 2.44267 0.984787 3.10571 0.984787H23.1057C23.7688 0.984787 24.4046 1.24818 24.8735 1.71702C25.3423 2.18586 25.6057 2.82175 25.6057 3.48479V17.2348C25.6057 17.8978 25.3423 18.5337 24.8735 19.0026C24.4046 19.4714 23.7688 19.7348 23.1057 19.7348H17.3732L13.9895 23.1185C13.7551 23.3529 13.4372 23.4845 13.1057 23.4845C12.7743 23.4845 12.4564 23.3529 12.222 23.1185L8.83821 19.7348H3.10571C2.44267 19.7348 1.80679 19.4714 1.33795 19.0026C0.869105 18.5337 0.605713 17.8978 0.605713 17.2348V3.48479ZM23.1057 3.48479H3.10571V17.2348H9.35571C9.68721 17.2349 10.0051 17.3666 10.2395 17.601L13.1057 20.4673L15.972 17.601C16.2063 17.3666 16.5242 17.2349 16.8557 17.2348H23.1057V3.48479ZM5.60571 7.85979C5.60571 7.52827 5.73741 7.21032 5.97183 6.9759C6.20625 6.74148 6.52419 6.60979 6.85571 6.60979H19.3557C19.6872 6.60979 20.0052 6.74148 20.2396 6.9759C20.474 7.21032 20.6057 7.52827 20.6057 7.85979C20.6057 8.19131 20.474 8.50925 20.2396 8.74367C20.0052 8.97809 19.6872 9.10979 19.3557 9.10979H6.85571C6.52419 9.10979 6.20625 8.97809 5.97183 8.74367C5.73741 8.50925 5.60571 8.19131 5.60571 7.85979ZM5.60571 12.8598C5.60571 12.5283 5.73741 12.2103 5.97183 11.9759C6.20625 11.7415 6.52419 11.6098 6.85571 11.6098H14.3557C14.6872 11.6098 15.0052 11.7415 15.2396 11.9759C15.474 12.2103 15.6057 12.5283 15.6057 12.8598C15.6057 13.1913 15.474 13.5092 15.2396 13.7437C15.0052 13.9781 14.6872 14.1098 14.3557 14.1098H6.85571C6.52419 14.1098 6.20625 13.9781 5.97183 13.7437C5.73741 13.5092 5.60571 13.1913 5.60571 12.8598Z"
									fill="white"></path>
							</svg>
						</VirtueCard>
					</div>

					<div class="flex items-center justify-center">
						<Image
							src={heroSubject}
							class={'mask-hero relative z-10 md:w-96 w-56'}
							alt={'Hero content subject image'}
						/>
						<svg
							class="absolute scale-110"
							viewBox="0 0 200 200"
							xmlns="http://www.w3.org/2000/svg"
						>
							<defs>
								<linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
									<stop id="stop1" stop-color="rgba(87, 105, 248, 1)" offset="0%"></stop>
									<stop id="stop2" stop-color="rgba(116, 112, 212, 1)" offset="100%"></stop>
								</linearGradient>
							</defs>
							<path
								fill="url(#sw-gradient)"
								id="my-svg"
								d="M48,-71.1C62.8,-65.3,75.6,-52.8,83.2,-37.6C90.8,-22.3,93.2,-4.3,90.7,13.1C88.3,30.4,81,47.2,69.7,60.8C58.5,74.4,43.3,84.9,27.4,86.4C11.6,87.8,-4.8,80.1,-22,75.1C-39.2,70,-57.2,67.5,-67.4,57.4C-77.5,47.3,-80,29.6,-80.4,12.8C-80.8,-3.9,-79.2,-19.7,-72.8,-33.1C-66.4,-46.4,-55.2,-57.5,-42.3,-64.1C-29.3,-70.8,-14.7,-73.2,1,-74.7C16.7,-76.2,33.3,-77,48,-71.1Z"
								transform="translate(100 100)"></path>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	import anime from 'animejs'

	anime({
		targets: '#my-svg',
		d: [
			{
				value:
					'M47.5,-75.3C59.8,-66.1,66.6,-49.8,70.5,-34.3C74.5,-18.7,75.5,-3.8,75.6,12.4C75.7,28.7,74.8,46.4,66.7,60.3C58.6,74.2,43.2,84.4,27,86.7C10.8,89,-6.1,83.6,-22,77.6C-37.9,71.7,-52.9,65.2,-64.2,54.4C-75.4,43.5,-83.1,28.3,-83.9,12.9C-84.8,-2.4,-79,-17.9,-72.7,-33.9C-66.5,-49.8,-59.8,-66.3,-47.6,-75.4C-35.4,-84.6,-17.7,-86.6,0,-86.5C17.7,-86.5,35.3,-84.4,47.5,-75.3Z'
			},
			{
				value:
					'M45.9,-68.6C60,-62.4,72.1,-50.5,79.1,-35.9C86,-21.4,87.7,-4.3,86.2,13C84.6,30.3,79.9,47.7,69.4,60.7C59,73.6,42.8,82.1,25.6,87.2C8.4,92.3,-9.9,94,-23.8,87.2C-37.8,80.3,-47.5,65,-55.2,50.8C-62.9,36.6,-68.6,23.7,-71.5,9.7C-74.4,-4.2,-74.5,-19.1,-70.8,-34.5C-67.1,-49.8,-59.7,-65.6,-47.3,-72.5C-34.9,-79.4,-17.4,-77.5,-0.7,-76.3C15.9,-75.2,31.9,-74.8,45.9,-68.6Z'
			}
		],
		easing: 'linear',
		duration: 5000,
		autoplay: true,
		loop: true,
		direction: 'alternate'
	})

	anime({
		targets: '.test-card',
		translateX: 250,
		delay: 200,
		endDelay: 200,
		loop: true,
		direction: 'alternate'
	})
</script>
