.blog-hero-container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    grid-template-areas: "blogs sidebar";
}

.blog-sidebar {
    grid-area: sidebar;
}

.blog-hero-post {
    grid-area: blogs;
}

@media screen and (max-width: 768px) {
    .blog-hero-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "blogs blogs"
            "sidebar sidebar"
        ;
    }
    .blog-sidebar {
        margin-top: 2rem;
    }
}