---
interface Props {
	tooltipLabel: string
}

const { tooltipLabel } = Astro.props
---

<div class="group relative flex items-center justify-center">
	<slot />

	<div
		class="absolute top-full z-10 w-max rounded-md bg-black p-2 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100"
	>
		<p>{tooltipLabel}</p>
	</div>
</div>
