---
const commonTextClass = 'text-xs font-medium text-white'
const currentYear = new Date().getFullYear()
---

<div class="bg-primary py-4 md:py-1">
	<div class="container flex flex-col items-center justify-between md:flex-row">
		<div class="flex flex-row items-center">
			<svg
				width="82"
				height="48"
				viewBox="0 0 82 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="mr-4 h-8 w-8"
			>
				<path
					d="M22.7285 6.15106C29.0597 0.342786 42.3623 -1.35282 51.9998 1.06704C45.9235 5.26306 43.9987 11.0769 42.9122 17.0989C41.2355 26.3955 41.8626 35.5257 46.9295 44.1619C47.5097 45.1497 48.2809 46.0627 49.0621 47.1423C46.2589 47.9526 43.4287 48.1636 40.5481 47.8806C33.533 47.1923 28.114 44.2645 24.0062 39.6078C22.363 37.7459 20.8943 35.7754 19.345 33.8523C14.5832 27.944 9.00001 26.3457 0.878231 28.5657C0.680539 28.6184 0.482655 28.6657 -0.000244141 28.785C1.60942 25.7685 3.95321 23.565 7.03501 21.886C10.2877 20.1126 13.8859 19.2691 17.7791 19.2246C19.6736 19.2024 21.5851 19.2024 23.4528 18.9888C28.0068 18.4671 30.0454 16.6744 30.1628 13.2971C30.2835 9.83086 27.7284 7.08907 23.7044 6.36204C23.396 6.30647 23.0906 6.22607 22.732 6.14551L22.7285 6.15106Z"
					fill="white"></path>
				<path
					d="M54.9998 41.9999C73.1107 26.414 63.046 11.5058 55.4998 5.99988C55.4998 5.99988 58.0005 17.0965 58.0528 23.9999C58.108 31.29 54.9998 41.9999 54.9998 41.9999Z"
					fill="white"></path>
				<path
					d="M65.9998 38.9999C80.2263 26.0117 72.3203 13.5881 66.3925 8.99988C66.3925 8.99988 68.3569 18.2471 68.398 23.9999C68.4414 30.075 65.9998 38.9999 65.9998 38.9999Z"
					fill="white"></path>
				<path
					d="M74.9998 34.9999C87.448 25.4752 80.5302 16.3646 75.3434 12.9999C75.3434 12.9999 77.0623 19.7812 77.0982 23.9999C77.1362 28.455 74.9998 34.9999 74.9998 34.9999Z"
					fill="white"></path>
			</svg>

			<span class:list={[commonTextClass]}>@{currentYear} all rights reserved</span>
		</div>

		<div class="flex flex-row items-center">
			<span class:list={[commonTextClass]}>Made with</span>
			<svg
				enable-background="new 0 0 128 128"
				viewBox="0 0 128 128"
				xmlns="http://www.w3.org/2000/svg"
				class="mx-2 h-6 w-6"
				><path
					d="m93.99 8.97c-21.91 0-29.96 22.39-29.96 22.39s-7.94-22.39-30-22.39c-16.58 0-35.48 13.14-28.5 43.01s58.56 67.08 58.56 67.08 51.39-37.21 58.38-67.08c6.98-29.87-10.56-43.01-28.48-43.01z"
					fill="#f44336"></path><path
					d="m30.65 11.2c17.2 0 25.74 18.49 28.5 25.98.39 1.07 1.88 1.1 2.33.06l2.52-5.89c-3.55-11.34-13.31-22.38-29.97-22.38-6.9 0-14.19 2.28-19.86 7.09 5.01-3.29 10.88-4.86 16.48-4.86z"
					fill="#c33"></path><path
					d="m93.99 8.97c-5.29 0-10.11 1.15-13.87 3.47 2.64-1.02 5.91-1.24 9.15-1.24 16.21 0 30.72 12.29 24.17 40.7-5.62 24.39-38.46 53.98-48.49 65.27-.64.72-.86 1.88-.86 1.88s51.39-37.21 58.38-67.08c6.98-29.86-10.53-43-28.48-43z"
					fill="#c33"></path><g fill="#ff8a80"
					><path
						d="m17.04 24.82c3.75-4.68 10.45-8.55 16.13-4.09 3.07 2.41 1.73 7.35-1.02 9.43-4 3.04-7.48 4.87-9.92 9.63-1.46 2.86-2.34 5.99-2.79 9.18-.18 1.26-1.83 1.57-2.45.46-4.22-7.48-5.42-17.78.05-24.61z"
					></path><path
						d="m77.16 34.66c-1.76 0-3-1.7-2.36-3.34 1.19-3.02 2.73-5.94 4.58-8.54 2.74-3.84 7.95-6.08 11.25-3.75 3.38 2.38 2.94 7.14.57 9.44-5.09 4.93-11.51 6.19-14.04 6.19z"
					></path></g
				></svg
			>
			<span class:list={[commonTextClass]}>and</span>

			<a href="https://astro.build/" aria-label="Astro official website" target="_blank">
				<svg
					width="301"
					height="79"
					viewBox="0 0 301 79"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="ml-2 h-8 w-16"
				>
					<path
						d="M20.7866 66.8455C17.2323 63.6045 16.1947 56.7948 17.6755 51.8613C20.2432 54.9718 23.8009 55.9571 27.486 56.5133C33.1749 57.3716 38.762 57.0506 44.0468 54.4568C44.6513 54.1598 45.21 53.765 45.8706 53.3651C46.3665 54.8001 46.4956 56.2489 46.3224 57.7235C45.9012 61.3146 44.1096 64.0886 41.26 66.1914C40.1206 67.0326 38.9148 67.7844 37.738 68.5775C34.1225 71.0151 33.1444 73.8732 34.5029 78.0308C34.5352 78.132 34.5641 78.2333 34.6371 78.4805C32.7912 77.6565 31.4428 76.4567 30.4154 74.8791C29.3302 73.214 28.814 71.3721 28.7868 69.3791C28.7732 68.4093 28.7732 67.4308 28.6425 66.4747C28.3232 64.1435 27.2262 63.0999 25.1595 63.0398C23.0384 62.978 21.3606 64.286 20.9157 66.3459C20.8817 66.5038 20.8325 66.6601 20.7832 66.8437L20.7866 66.8455Z"
						fill="white"></path>
					<path
						d="M0.5 51.0393C0.5 51.0393 11.0249 45.9249 21.5793 45.9249L29.5369 21.3588C29.8348 20.1708 30.7047 19.3634 31.6867 19.3634C32.6688 19.3634 33.5386 20.1708 33.8366 21.3588L41.7942 45.9249C54.2942 45.9249 62.8734 51.0393 62.8734 51.0393C62.8734 51.0393 44.996 2.45882 44.961 2.36135C44.4479 0.925045 43.5817 0 42.4139 0H20.9613C19.7935 0 18.9623 0.925045 18.4142 2.36135C18.3756 2.45698 0.5 51.0393 0.5 51.0393Z"
						fill="white"></path>
					<path
						d="M111.467 43.9652C111.467 48.27 106.099 50.841 98.6667 50.841C93.8296 50.841 92.1189 49.6452 92.1189 47.134C92.1189 44.5033 94.2425 43.2477 99.0796 43.2477C103.445 43.2477 107.161 43.3075 111.467 43.8456V43.9652ZM111.526 38.6439C108.872 38.046 104.861 37.6873 100.082 37.6873C86.1611 37.6873 79.6133 40.9757 79.6133 48.6288C79.6133 56.5808 84.0964 59.63 94.4785 59.63C103.268 59.63 109.226 57.4178 111.408 51.977H111.762C111.703 53.2923 111.644 54.6077 111.644 55.6241C111.644 58.4342 112.116 58.6734 114.417 58.6734H125.271C124.681 56.9993 124.327 52.2759 124.327 48.2102C124.327 43.8456 124.504 40.5572 124.504 36.1328C124.504 27.1045 119.077 21.3648 102.088 21.3648C94.7734 21.3648 86.633 22.6203 80.4391 24.4738C81.029 26.9252 81.8549 31.8877 82.2678 35.1163C87.6358 32.6052 95.2454 31.529 101.144 31.529C109.285 31.529 111.526 33.3824 111.526 37.1492V38.6439Z"
						fill="white"></path>
					<path
						d="M141.308 46.4763C139.833 46.6557 137.828 46.6557 135.763 46.6557C133.58 46.6557 131.575 46.5959 130.218 46.4165C130.218 46.8949 130.159 47.433 130.159 47.9113C130.159 55.385 135.055 59.7496 152.28 59.7496C168.502 59.7496 173.752 55.4448 173.752 47.8515C173.752 40.6768 170.272 37.1492 154.875 36.3719C142.901 35.8338 141.839 34.5184 141.839 33.0237C141.839 31.2898 143.373 30.393 151.395 30.393C159.713 30.393 161.954 31.529 161.954 33.9205V34.4586C163.134 34.3989 165.258 34.3391 167.44 34.3391C169.505 34.3391 171.746 34.3989 173.044 34.5184C173.044 33.9803 173.103 33.502 173.103 33.0835C173.103 24.2944 165.788 21.4245 151.631 21.4245C135.704 21.4245 130.336 25.3109 130.336 32.9041C130.336 39.7201 134.642 43.9652 149.92 44.6229C161.187 44.9816 162.426 46.2372 162.426 47.9711C162.426 49.8245 160.597 50.6616 152.693 50.6616C143.609 50.6616 141.308 49.406 141.308 46.8351V46.4763Z"
						fill="white"></path>
					<path
						d="M193.222 14.9673C188.916 18.9732 181.188 22.9791 176.882 24.0553C176.941 26.2675 176.941 30.3332 176.941 32.5454L180.893 32.6052C180.834 36.8502 180.775 41.9921 180.775 45.4001C180.775 53.3521 184.963 59.3311 198 59.3311C203.486 59.3311 207.143 58.7332 211.685 57.7765C211.213 54.8469 210.683 50.3626 210.506 46.9546C207.792 47.8515 204.371 48.3298 200.595 48.3298C195.345 48.3298 193.222 46.8949 193.222 42.7694C193.222 39.182 193.222 35.8338 193.281 32.7248C200.006 32.7845 206.73 32.9041 210.683 33.0237C210.624 29.9147 210.742 25.4304 210.919 22.441C205.197 22.5605 198.767 22.6203 193.458 22.6203C193.517 19.9896 193.576 17.4784 193.635 14.9673H193.222Z"
						fill="white"></path>
					<path
						d="M228.454 30.7517C228.513 27.6426 228.572 25.0119 228.631 22.441H216.774C216.951 27.5829 216.951 32.8443 216.951 40.5572C216.951 48.27 216.892 53.5913 216.774 58.6734H230.341C230.105 55.086 230.046 49.0473 230.046 43.9054C230.046 35.774 233.35 33.4422 240.841 33.4422C244.322 33.4422 246.799 33.8608 248.982 34.638C249.041 31.5888 249.631 25.6696 249.985 23.0389C247.743 22.3812 245.265 21.9627 242.257 21.9627C235.827 21.9029 231.108 24.5336 228.925 30.8115L228.454 30.7517Z"
						fill="white"></path>
					<path
						d="M287.518 40.318C287.518 46.8351 282.799 49.8843 275.366 49.8843C267.992 49.8843 263.273 47.0144 263.273 40.318C263.273 33.6216 268.051 31.1104 275.366 31.1104C282.74 31.1104 287.518 33.801 287.518 40.318ZM299.846 40.0191C299.846 27.0448 289.7 21.2452 275.366 21.2452C260.973 21.2452 251.18 27.0448 251.18 40.0191C251.18 52.9336 260.324 59.8692 275.307 59.8692C290.408 59.8692 299.846 52.9336 299.846 40.0191Z"
						fill="white"></path>
				</svg>
			</a>
		</div>
	</div>
</div>
